@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;

  .home-header {
    // background: url('../../../assets/bg.jpg') center center;
    background-size: cover;
    height: 50%;

    .bg-image {
      height: 100%;
      background-size: cover !important;
      background-repeat: no-repeat !important;

      .background {
        width: 100%;
      }

      .image {
        position: relative;
        top: 1.8rem;

        img {
          position: relative;
          left: 17%;
        }

        .android {
          display: none;
        }

      }

      .description {
        color: white;
        position: relative;
        top: 5.5rem;
        text-align: center;

        #android-input {
          display: none;
        }

        h2 {
          font-size: 28px;
          font-weight: 600;
          width: 48%;
          margin-left: 26%;
        }

        p {
          font-size: 18px;
          font-weight: 400;
        }

        .input-group {
          width: 44%;
          margin-left: 28%;
          height: 44px;

          .form-control {
            background-color: white;
          }

          .btn {
            border: 2px solid white;
            background-color: #560014;
            color: white;
            font-size: 14px;
            font-weight: 500;
          }

          button:focus {
            box-shadow: none;
          }
        }
      }
    }

    .details {
      background-color: #F3F3F3;
      width: 100%;
      height: 32%;

      .searchItem {
        justify-content: space-between;
        text-align: center;
        display: inline-flex;
        width: 66%;
        position: relative;
        left: 17%;

        .image {
          position: relative;
          top: 1.5rem;

          img {
            position: relative;
            left: 0%;
          }

          .android {
            display: none;
          }

        }

        .input-group {
          width: 48%;
          height: 44px;
          position: relative;
          top: 21px;

          .form-control {
            background-color: white;
          }

          .btn {
            border: 1px solid white;
            background-color: #560014;
            color: white;
            font-size: 14px;
            font-weight: 500;
            border-radius: 2px;
          }

          button:focus {
            box-shadow: none;
          }
        }

      }
    }

    .scrollDetails {
      background-color: #F3F3F3;
      width: 100%;
      height: 18%;
      position: fixed;
      top: 0%;
      z-index: 200;

      .scrollSearchAndroid {
        display: none;
      }

      .scrollSearchItem {
        justify-content: space-between;
        text-align: center;
        display: inline-flex;
        width: 66%;
        position: relative;
        left: 17%;

        .image {
          position: relative;
          top: 1.5rem;

          img {
            position: relative;
            left: 0%;
          }

          .android {
            display: none;
          }

        }

        .input-group {
          width: 48%;
          height: 44px;
          position: relative;
          top: 21px;

          .form-control {
            background-color: white;
          }

          .btn {
            border: 1px solid white;
            background-color: #560014;
            color: white;
            font-size: 14px;
            font-weight: 500;
            border-radius: 2px;
          }

          button:focus {
            box-shadow: none;
          }
        }

      }
    }
  }

  .home-body {
    width: 66%;
    margin-left: 17%;
    position: relative;
    top: 0.7rem;
    height: 100vh;

    .title {
      width: 100%;
      border-bottom: 1px solid #276AA0;
      // display: inline-flex;
      // justify-content: space-between;
      // align-items: center;
      height: 6%;
      position: absolute;

      button {
        border: none;
        position: relative;
        background: none;
        height: 35px;
        color: #230735;
        font-size: 18px;
        font-weight: 700;
        opacity: 50%;
        top: 8%;
        border-bottom: 2px solid rgba(255, 255, 255, 0);

        .line {
          text-align: center;
          width: 30px;
          border-color: #E81244;
          height: 2px;
          background-color: #E81244;
          opacity: 100%;
          position: absolute;
          top: 52%;
          margin-left: 15%;
          display: none;
        }
      }

      // .btn-router {
      //   height: 118%;

      .photos {
        padding: 0;
        width: 90px;
        position: absolute;
        text-align: start;
        top: 7%;

        &:hover,
        &.active {
          color: #E81244;
          opacity: 100%;

          .line {
            display: block;
          }
        }
      }

      .videos {
        position: absolute;
        left: 10%;
        top: 7%;

        &:hover,
        &.active {
          color: #E81244;
          opacity: 100%;
          top: 7%;

          .line {
            display: block;
          }
        }
      }

      // }

      .favourites {
        padding: 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        position: absolute;
        right: 0%;
        top: 7%;

        &:hover,
        &.active {
          color: #E81244;
          opacity: 100%;
          top: 7%;

          .line {
            display: block;
            margin-left: 23%;
          }
        }
      }
    }
  }

  .scroll-home-body {
    width: 66%;
    margin-left: 17%;
    position: fixed;
    top: 18%;
    height: 8%;
    background-color: white;
    z-index: 200;

    .title {
      width: 100%;
      border-bottom: 1px solid #276AA0;
      // display: inline-flex;
      // justify-content: space-between;
      // align-items: center;
      height: 72%;
      position: absolute;

      button {
        border: none;
        position: relative;
        background: none;
        height: 35px;
        color: #230735;
        font-size: 18px;
        font-weight: 700;
        opacity: 50%;
        top: 8%;
        border-bottom: 2px solid rgba(255, 255, 255, 0);

        .line {
          text-align: center;
          width: 30px;
          border-color: #E81244;
          height: 2px;
          background-color: #E81244;
          opacity: 100%;
          position: absolute;
          top: 52%;
          margin-left: 15%;
          display: none;
        }
      }

      // .btn-router {
      //   height: 118%;

      .photos {
        padding: 0;
        width: 90px;
        position: absolute;
        text-align: start;
        top: 7%;

        &:hover,
        &.active {
          color: #E81244;
          opacity: 100%;

          .line {
            display: block;
          }
        }
      }

      .videos {
        position: absolute;
        left: 10%;
        top: 7%;
        margin-left: 3%;

        &:hover,
        &.active {
          color: #E81244;
          opacity: 100%;
          top: 7%;

          .line {
            display: block;
          }
        }
      }

      // }

      .favourites {
        padding: 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        position: absolute;
        right: 0%;
        top: 7%;

        &:hover,
        &.active {
          color: #E81244;
          opacity: 100%;
          top: 7%;

          .line {
            display: block;
            margin-left: 23%;
          }
        }
      }
    }
  }

  .home-footer {
    height: 14vh;
    text-align: center;
    opacity: 76%;
    background-color: #F2F2F2;
    box-shadow: 0 1px 0 0 #a7a8a9;
    position: relative;
    top: 169%;
  }
}

@media screen and (max-width: 920px) {
  body {

    .home-header {

      .bg-image {

        .description {

          h2 {
            font-size: 24px;
            width: 53%;
            margin-left: 23%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {

    .home-body{

      .title{
        .videos{
          margin-left: 3%;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body {

    .home-body{

      .title{
        .videos{
          margin-left: 9%;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  body {

    .home-header {
      .details {
        display: none;
      }

      .bg-image {

        .image {

          img {
            display: none;
          }

          .android {
            display: block;
            position: relative;
            left: 10%;
          }
        }

        .description {
          top: 6rem;

          h2 {
            font-size: 22px;
            width: 61%;
            position: relative;
            left: 17%;
            margin-left: 0;
          }

          p {
            font-size: 14px;
            margin-left: -8%;
          }

          .input-group {
            display: none;
          }

          #android-input {
            display: block;
            width: 80%;
            margin-left: 7%;

            .form-control {
              width: 100%;
              height: 100%;
              padding-left: 13%;
            }

            input::placeholder {
              font-size: 14px;
              opacity: 37%;
              color: #37474F;
              font-weight: 400;
            }

            img {
              position: absolute;
              left: 4%;
              top: 29%;
              z-index: 200;
            }
          }
        }
      }

      .scrollDetails {
        height: 10%;
        background-color: black;

        .scrollSearchItem {
          display: none;
        }

        .scrollSearchAndroid {
          display: block;

          .androidScroll {
            position: absolute;
            top: 22%;
            left: 5%;
          }

          .scrollSearch {
            position: absolute;
            right: 5%;
            width: 8%;
            top: 21%;
          }

          #android-input-scroll {
            position: absolute;
            top: 13%;
            width: 100%;
            padding-left: 13%;
            height: 67%;

            .form-control {
              width: 71%;
              height: 100%;
              padding-left: 13%;
              left: 28%;

              :focus {
                #search {
                  display: block;
                }
              }
            }

            input::placeholder {
              font-size: 14px;
              opacity: 37%;
              color: #37474F;
              font-weight: 400;
            }

            #search {
              left: 40%;
              top: 26%;
              width: 5%;
              z-index: 200;
            }

            img {
              position: absolute;
              top: 7%;
              right: 2%;
              width: 9%;
            }
          }
        }
      }
    }

    .home-body {
      width: 100%;
      margin: 0;
      top: 0;

      .title {

        button {
          font-size: 14px;
          border: none;
        }
          .photos {
            text-align: center;
            width: auto;
            top: 2px;
          }

          .videos {
            width: auto;
            position: relative;
            left: 5%;
            top: 2px;
          }

        .favourites {
          width: auto;
          margin-right: 5%;
          top: 8%;

          &:hover,
          &.active{
            top: 8%;
          }
        }
      }
    }

    .home-footer {
      display: none;
    }

    .scroll-home-body {
      width: 98%;
      margin-left: 1%;
      top: 10%;

      .title{

        .videos{
          margin-left: 8%;
        }
      }
    }
  }
}
