@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.details {
  position: absolute;
  top: 16%;
  width: 66%;
  margin-left: 17%;
  height: 71%;

  .bg-image {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: center !important;
    background-size: 100% !important;

    &:focus {
      outline: none;
    }

    .video {
      width: 100%;
      height: 100%;
      position: relative;

      &:focus {
        outline: none;
      }

      .video1 {
        width: 100%;
        height: 100%;

        &:focus {
          outline: none;
        }
      }
    }

    .androidImage {
      display: none;
    }

    .header {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .favourite {
      position: absolute;
      top: 3%;
      justify-content: space-between;
      display: flex;
      width: 100%;
      height: 6%;

      p {
        color: white;
        margin-left: 4%;
        font-size: 20px;
        margin-top: -1%;
      }

      .favouriteAdded {
        border: none;
        background: none;
        left: -4%;
        position: relative;

        .heart {
          width: 84%;
        }
      }
    }

    .middle {
      position: relative;
      top: -56%;
      width: 100%;
      text-align: center;

      .videoIcon {
        width: 7%;
      }
    }

    .photographer {
      width: 100%;
      height: 8%;
      position: absolute;
      top: 12%;

      .favouriteAdded {
        border: none;
        background: none;
      }

      .icon {
        width: 4%;
        position: absolute;
        left: 4%;
      }

      .name {
        position: absolute;
        margin-left: 10%;
        color: white;
        font-size: 16px;
        width: 73%;
        top: 17%;
      }

      .androidheart {
        display: none;
      }
    }

    .btns {
      display: none;
    }

    .controls {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      flex-wrap: wrap;
      background: rgba(0, 0, 0, 0.7);
      padding: 10px;
      height: 10%;
    }

    .buttons button {
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      margin-top: 3%;
    }

    .buttons button::before {
      content: url(../../../assets/video_bar.png);
      width: 30px;
      height: 30px;
      display: inline-block;
    }

    .buttons button.play:before {
      content: url(../../../assets/video_bar.png);
    }

    .buttons button.pause:before {
      content: url(../../../assets/video_pause.png);
    }

    .bar {
      height: 3px;
      margin-top: 1.3%;
      margin-left: 1%;
      width: 84%;
      background-color: #858585;

      .redBar {
        height: 4px;
        background-color: #FF0000;

        img {
          position: absolute;
          width: 3%;
          height: 35%;
          top: 30%;
          left: 6%;
        }
      }
    }

    .fullScreen button {
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      position: absolute;
      top: 15%;
      right: 5%;
    }

    .fullScreen button::before {
      content: url(../../../assets/video_big.png);
      margin-left: 74%
    }

    .fullScreen button.zoomIn:before {
      content: url(../../../assets/video_big.png);
    }

    .fullScreen button.zoomOut:before {
      content: url(../../../assets/video_big.png);
    }
  }
}

.footer {
  position: absolute;
  top: 87%;
  width: 100%;
}

@media screen and (max-width: 420px) {

  .details {
    width: 100%;
    margin-left: 0;
    height: 100%;
    top: 0;

    .bg-image {
      background-color: #212121;
      height: 100%;

      .image {
        height: 43%;
        position: absolute;
        top: 26%;
      }

      .androidImage {
        display: block;
        position: absolute;
        top: 8%;
      }

      .video {

        .video1 {
          position: absolute;
          top: 11%;
          // not changing
          height: 61%;
        }
      }

      .header {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 8%;

        .arrow {
          width: 7%;
          position: absolute;
          top: 25%;
          left: 2%;
          height: 57%;

          &:focus {
            outline: none;
          }
        }

        p {
          position: relative;
          top: 11px;
          color: white;
          width: 70%;
          margin-left: 12%;
          font-size: 20px;
        }

        .options {
          width: 4%;
          position: absolute;
          top: 16%;
          height: 64%;
          right: 5%;
        }
      }

      .favourite {
        display: none;
      }

      .middle {
        top: 43%;

        .videoIcon {
          width: 14%;
        }
      }

      .photographer {
        height: 5%;



        .icon {
          width: 8%;
        }

        .name {
          top: 11%;
          margin-left: 13%;
        }

        .androidheart {
          display: block;
          width: 6%;
          position: absolute;
          right: 5%;
          height: 79%;
          top: 11%;
        }
      }

      .btns {
        display: block;
        position: relative;
        top: 68%;
        width: 100%;
        text-align: center;

        button {
          background-color: white;
          border: none;
          width: 28%;
          height: 40px;
          position: relative;
          left: 6%;

          img {
            width: 22px;
            position: absolute;
            top: 22%;
            left: 34%;
          }
        }

        .btn-zoomIn {
          border-radius: 4px 0 0 4px;
          width: 16%;
          left: -2%;
        }

        .btn-zoomOut {
          border-radius: 0 4px 4px 0;
          width: 16%;
          left: -1%;
        }
      }

      .controls {
        top: 78%;
      }

      .buttons button {
        margin-top: 21%;
      }

      .bar {
        width: 76%;
        margin-top: 5.2%;
      }

      .fullScreen {
        button {
          right: 7%;
          top: 28%;
        }
      }
    }
  }
}
