<app-home (searchItem)="displayPhoto($event)"></app-home>

<div class="details">
    <div class="bg-image">
            <img id="map" class="image" src="{{image}}" alt="">
            <img id="androidMap" class="androidImage" src="{{androidImage}}" alt="">
        <div class="header">
            <img (click)="goBack()" class="arrow" src="../../../assets/arrow back.png" alt="">
            <p>Lorem Picsum</p>
            <img class="options" src="../../../assets/more vert.png" alt="">
        </div>
        <div class="favourite">
            <p>Lorem Picsum</p>
            <div class="zoom">
                <button class="favouriteAdded" *ngIf="!favouriteAdded(data)" (click)="addToFavourite(data)">
                    <img class="heart" src="../../../assets/details_heart.png" alt="">
                </button>
                <button (click)="removeFavourite(data.id)" class="favouriteAdded" *ngIf="favouriteAdded(data)">
                    <img class="heart" src="../../../assets/details_heart_filled.png" alt="">
                </button>
                <button class="btn-zoomIn" (click)="zoomIn()">
                    <img class="zoomIn" src="../../../assets/zoom_in.png" alt="">
                </button>
                <button class="btn-zoomOut" (click)="zoomOut()">
                    <img class="zoomOut" src="../../../assets/zoom_out.png" alt="">
                </button>
            </div>
        </div>
        <div class="photographer">
            <img class="icon" src="../../../assets/photographer_icon.png" alt="">
            <p class="name">{{data.photographer}}</p>
            <!-- <img class="androidheart" src="../../../assets/details_heart.png" alt=""> -->
            <button class="favouriteAdded" *ngIf="!favouriteAdded(data)" (click)="addToFavourite(data)">
                <img class="androidheart" src="../../../assets/details_heart.png" alt="">
            </button>
            <button (click)="removeFavourite(data.id)" class="favouriteAdded" *ngIf="favouriteAdded(data)">
                <img class="androidheart" src="../../../assets/details_heart_filled.png" alt="">
            </button>
        </div>
        <div class="btns">
            <button class="btn-zoomIn" (click)="zoomInAndroid(5)">
                <img class="zoomIn" src="../../../assets/zoom_in.png" alt="">
            </button>
            <button class="btn-zoomOut" (click)="zoomOutAndroid(5)">
                <img class="zoomOut" src="../../../assets/zoom_out.png" alt="">
            </button>
        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>