.displayList {
  position: absolute;
  top: 60%;
  margin-left: 17%;
  width: 67.5%;
  height: 100vh;

  .videoIcon{
    position: absolute;
    top: 20%;
  }
}

@media screen and (max-width: 420px) {

  .displayList {
    width: 92%;
    margin-left: 3%;
    top: 57%;
  }
}