@import '../lists/lists.component.scss';

.favouriteList {
  position: absolute;
  top: 60%;
  margin-left: 17%;
  width: 67.5%;
  height: 133vh;

  .photo {
    width: 22.9%;
    height: 120px;
    overflow: hidden;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 1%;

    a {
      text-decoration: none;
    }

    .bg-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat !important;
      background-position-x: center !important;
      background-size: cover !important;

      &:focus {
        outline: none;
      }
    }

    img {
      width: 100%;
    }

    .favourite {
      width: 10.5%;
      position: relative;
      margin-left: 80%;
      top: 2%;
    }

    .videoIcon {
      width: 18%;
      position: relative;
      left: 36.2%;
      top: 12.8%;
    }

    .details {
      position: absolute;
      margin-top: 6.3%;
      width: 23%;

      .photographer {
        width: 14%;
        margin-left: 5%;
        margin-top: 3%;
      }

      p {
        position: relative;
        font-size: 14px;
        color: white;
      }
    }

    .detailsVideo {
      position: relative;
      top: 22%;
      width: 100%;
      height: 21%;

      p {
        position: relative;
        font-size: 14px;
        color: white;

        .photographer {
          width: 14%;
          margin-left: 5%;
        }

        span {
          position: absolute;
          top: 20%;
          margin-left: 3.2%;
        }
      }
    }
  }

  .home-footer {
    height: 14vh;
    text-align: center;
    opacity: 76%;
    background-color: #F2F2F2;
    box-shadow: 0 1px 0 0 #a7a8a9;
    width: 148%;
    position: relative;
    left: -25%;
    top: -1%;

    .footer {
      color: #BABABA;
      font-size: 14px;
      font-weight: 500;
      position: relative;
      top: 43%;
    }
  }
}

@media screen and (max-width: 768px) {
  .favouriteList {

    .photo {
      width: 30%;
      height: 100px;
      margin-left: 1%;

      .favourite {
        margin-left: 75%;
      }

      .details {
        p {
          .photographer {
            width: 21%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {

  .favouriteList {

    .photo {
      width: 47%;

      .favouriteAdded {
        left: 73%;
      }

      .details {
        margin-top: 10%;

        p {
          .photographer {
            width: 31%;
          }

          span {
            top: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {

  .favouriteList {
    width: 92%;
    margin-left: 3%;
    top: 57%;

    .photo {
      width: 100%;
      height: 190px;

      .bg-image {
        background-size: 100% !important;
        background-position-y: center !important;
      }

      .videoIcon {
        top: 24%;
        width: 15%;
        left: 42.3%;
      }

      .favourite {
        width: 7.5%;
        position: relative;
        margin-left: 89%;
        top: 13.5%;
      }

      // .favouriteAdded {
      //   left: 87%;
      //   top: 4%;
      // }

      .details {
        margin-top: 32%;
        width: 100%;

        p {
          //   margin-left: 18%;

          .photographer {
            width: 9%;
            top: 3.2%;
          }

          span {
            left: 4%;
            top: 11px;
          }
        }
      }

      .detailsVideo {
        top: 54.3%;

        p {
          left: 0;
          top: -26px;

          .photographer {
            width: 9%;
            margin-left: 5%;
          }

          span {
            left: 14.5%;
            top: 3px;
          }
        }
      }
    }

    .home-footer {
      display: none;
    }
  }
}
