.photoList {
  position: absolute;
  top: 60%;
  margin-left: 17%;
  width: 67.5%;
  height: 158vh;

  .photo {
    width: 22.9%;
    height: 190px;
    overflow: hidden;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2%;

    .bg-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat !important;
      background-position-x: center !important;
      background-size: cover !important;
    }

    // .bg-image{
    //     width: 100%;
    // }

    img {
      width: 100%;
    }

    .favourite {
      width: 22px;
      position: relative;
      // margin-left: 82%;
      top: 4%;
    }

    .androidFav {
      display: none;
      width: 22px;
      position: relative;
      // margin-left: 89%;
      top: 8%;
    }

    .favouriteAdded {
      border: none;
      background: none;
      left: 76%;
      top: 2%;
      position: relative;
    }

    .details {
      position: relative;
      top: 62%;
      width: 100%;

      p {
        position: relative;
        font-size: 14px;
        color: white;

        .photographer {
          width: 19%;
          margin-left: 5%;
        }

        span {
          position: absolute;
          left: 27%;
          top: 16%;
        }
      }
    }
  }

  .home-footer {
    height: 14vh;
    text-align: center;
    opacity: 76%;
    background-color: #F2F2F2;
    box-shadow: 0 1px 0 0 #a7a8a9;
    width: 148%;
    position: relative;
    left: -25%;
    top: -1%;

    .footer {
      color: #BABABA;
      font-size: 14px;
      font-weight: 500;
      position: relative;
      top: 43%;
    }
  }
}

.photoList::-webkit-scrollbar {
  width: 1px;
}

@media screen and (max-width: 768px) {

  .photoList {

    .photo {
      width: 30%;
      height: 150px;
      margin-left: 1%;

      .favouriteAdded {
        left: 65%;
      }

      .details {
        top: 54%;
      }
    }
  }
}

@media screen and (max-width: 550px) {

  .photoList {

    .photo {
      width: 47%;

      .favouriteAdded {
        left: 73%;
      }
    }
  }
}

@media screen and (max-width: 420px) {

  .photoList {
    width: 92%;
    margin-left: 4%;

    .photo {
      width: 100%;
      height: 180px;

      .bg-image{
        background-size: 100% !important;
        background-position-y: center !important;
      }

      .favourite {
        display: none;
      }

      .androidFav {
        display: block;
      }

      .videoIcon {
        width: 15%;
        left: 40%;
        top: 25%;
      }

      .favouriteAdded {
        left: 82%;
        top: 6%;
      }

      .details {
        // top: 66%;

        p {
          //   margin-left: 18%;

          .photographer {
            width: 10%;
          }

          span {
            left: 17%;
            top: 26%;
          }
        }
      }
    }

    .home-footer {
      display: none;
    }
  }
}
